<html>

<head>

  <style>
  #yazi {
    color:white
  }
  #result{
   position:relative;
     margin-left:40%;
     
     color:white;
     background-color:black;
     }
     #question{
       color:white;
      position:absolute;
     }
     body{
      background-image: url("http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-275416.jpg");
      background-size: 1600px 700px;
     }
     </style>


  </head>

	
	</head>

<body>


<h1> Lecture Recommendation System </h1>
<h2>CenkBengisuCan</h2>
<section id="question">
<form action="" method="POST">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Tavsiyeyi gor" />
</form>

</section>
<section id="result">
  <p>Sectigin ders: {{ ders }}</p>
   <p>{{ rec }}</p>

  </section>

</body>
</html>
