<html>

<head>

  <style>
  #yazi {
    color:white
  }
  #result{
   position:relative;
     margin-left:40%;
     }
     #question{
       color:white;
      position:absolute;
     }
     </style>
  </head>

	<style>
	#yazi {
		color:white
	}
	#result{
	 position:relative;
     margin-left:40%;
     }
     #question{
			 color:white;
      position:absolute;
     }
     </style>
	</head>

<body style="background-color:#DB7093">


<h1> Lecture Recommendation System </h1>
<h2>CenkBengisuCan</h2>
<section id="question">
<form action="" method="POST">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Tavsiyeyi gor" />
</form>

</section>
<section id="result">
   <p>{{ rec }}</p>
  </section>

</body>
</html>
